<div class="text-center">
  <span class="font-bold text-sm tracking-widest">ABMMC</span>
</div>
<div class="flex items-center justify-center">
  <!-- <div class="flex-1 border-t border-gray-400"></div> -->
  <div class="mx-4 text-xl font-semibold color-text">
    Our Featured Services
  </div>
  <!-- <div class="flex-1 border-t border-gray-400"></div> -->
</div>

<div class="flex justify-center py-6">
  <a
    (click)="gotoProductPage('AddMoney')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/miPayWallet.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
        <div class="pl-[30px] mb-[40px]">
          <p class="header-titles text-lg">Add Money</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a
  (click)="transactionHistory('breshnaPayments')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="pl-[30px] mb-[40px] pt-[30px]">
          <p class="header-titles text-lg">Breshna Payments</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Link_Account.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- <div class="flex mx-4"> -->
  <a
    (click)="gotoProductPage('moneyTransfer')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Bank_Transfer.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
        <div class="pl-[30px] mb-[40px]">
          <p class="header-titles text-lg">Money Transfer</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
      </div>
    </div>
  </a>
  <!-- </div> -->
  <a
    (click)="gotoProductPage('ownAccountTransfer')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="pl-[30px] mb-[40px] pt-[30px]">
          <p class="header-titles text-lg">Own Account Transfer</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Own_Account_number.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="flex justify-center py-6">
  <a (click)="gotoProductPage('thirdPartyTrasfer')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Third_Party_Transfer.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
        <div class="pl-[30px] mb-[40px]">
          <p class="header-titles text-lg">Third Party Transfer</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
      </div>
    </div>
  </a>

  <a  
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="pl-[30px] mb-[40px] pt-[30px]">
          <p class="header-titles text-lg">Check Balance</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Other 07.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- <div class="flex mx-4"> -->
  <a
    (click)="gotoProductPage('payBills')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Pay_Bills.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
        <div class="pl-[30px] mb-[40px]">
          <p class="header-titles text-lg">Pay Your Bills</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
      </div>
    </div>
  </a>
  <!-- </div> -->
  <a
    (click)="gotoProductPage('airTime')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="pl-[30px] mb-[40px] pt-[30px]">
          <p class="header-titles text-lg">Air Time Topup</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Referel.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="flex justify-center py-6">
  <!-- <div class="flex mx-4"> -->
  <a
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Branch_Address.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
        <div class="pl-[30px] mb-[40px]">
          <p class="header-titles text-lg">Branch Address</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
      </div>
    </div>
  </a>
  <!-- </div> -->
  <a
    (click)="gotoProductPage('transactionHistory')"
    class="flex justify-center transition duration-300 ease-in-out transform hover:scale-105"
  >
    <div class="flex mx-4">
      <div class="rounded-lg overflow-hidden shadow-2xl bg-white w-170">
        <div class="pl-[30px] mb-[40px] pt-[30px]">
          <p class="header-titles text-lg">Transaction History</p>
          <p class="w-[220px]">
            Mobile Wallet as virtual wallet, accessed and functioned via a
            mobile application.
          </p>
        </div>
        <div class="py-6 px-20">
          <div class="flex justify-center">
            <img
              src="../../../assets/images/Transaction_History.png"
              alt=""
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
