

<div class="flex flex-col min-h-screen overflow-hidden">
  <app-header></app-header>
  <div>
    <!--Home Page Starts Here-->
    <div>
      <div class="flex h-100 px-16 py-8 bg-radial-gradient">
        <div class="w-1/2 p-6 px-6 flex">
          <!-- Content for the right half -->
          <div class="items-center px-6 py-3">
            <h3 class="header-titles text-xxx-large leading-tight">
              Simple, Swift & Secure Payments
            </h3>
            <p class="mt-[18px] text-md font-medium w-[70%] text-black-400">
              We are Committed to Promote Payments
            </p>
            <p class="text-md w-[70%] font-medium text-black-800">
              Digitalization in Afghanistan.
            </p>
            <button
              class="mt-[18px] w-[45%] text-center bg-btn-gradient text-white mr-4 hover:button-primary-light font-sm py-2 px-4 rounded-md items-center"
            >
              Sign Up Now
            </button>
            <div class="mt-[30px]">
              <!--  <button
                      class="bg-black w-[36%] mr-4  text-white font-sm py-2 px-4 rounded-md inline-flex"
                     >
                      Download On The <br> App Store
                    </button>
                    <button
                    class="bg-black w-[30%] mr-4  text-white font-sm py-2 px-4 rounded-md inline-flex"
                   >
                    Get It On<br> Google Play
                  </button> -->
              <img
                class="inline-flex mr-2"
                src="../../../assets/images/Appstore (1).png"
              />
              <img
                class="inline-flex"
                src="../../../assets/images/playstore.png"
              />
            </div>
            <!--  <div class="flex min-h-auto">
        
                   
                    <div class="text-center">
                      <p class="text-gray-600">Founded in</p>
                      <p class="text-3xl font-bold text-gray-800">2022</p>
                    </div>
                    <div class="border-l border-gray-300 min-h-auto mx-4"></div>
                    <div class="text-center">
                      <p class="text-gray-600">Active user</p>
                      <p class="text-3xl font-bold text-gray-800">100K</p>
                    </div>
                    <div class="text-center">
                      <p class="text-gray-600">Total Branches</p>
                      <p class="text-3xl font-bold text-gray-800">62</p>
                    </div>
                  </div> -->
            <div class="mt-[24px]">
              <p class="inline-flex font-semibold text-headers mr-4">
                Founded in
              </p>
              <p class="inline-flex font-semibold text-headers mr-4">
                Active Users
              </p>
              <p class="inline-flex font-semibold text-headers">
                Total Branches
              </p>
            </div>
            <div class="mt-[0px]">
              <p class="inline-flex text-xl font-bold text-gray-800 ml-2 mr-14">
                2002
              </p>
              <p class="inline-flex text-xl font-bold text-gray-800 mr-16">
                100K
              </p>
              <p class="inline-flex text-xl font-bold text-gray-800">65</p>
            </div>
          </div>
        </div>

        <div class="w-1/2 p-2 -mt-[4%]">
          <div class="flex justify-center items-center">
            <img
              class="h-[80%] w-[80%]"
              src="../../../assets/images/image.png"
            />
          </div>
        </div>
      </div>

      <app-our-services></app-our-services>

      <div class="bg-white text-gray-800">
        <!-- Hero Section -->
        <section class="text-center py-12">
          <div class="container mx-auto px-4">
            <div class="flex flex-row items-center justify-evenly">
              <div>
                <img
                  class="w-48 h-auto mb-6"
                  src="assets/images/person.png"
                  alt="Hero Image"
                />
              </div>
              <div class="flex-col">
                <h1 class="text-4xl font-bold mb-4">Pay in One Click</h1>
                <p class="text-lg mb-6 max-w-2xl">
                  ABMMC is an existing Electronic Payment Processing Provider
                  that offers customized payment solutions to all the customer's
                  businesses in the Mobile money services industry.
                </p>
                <a
                  href="#"
                  class="bg-btn-gradient text-white py-3 px-6 rounded-full hover:bg-purple-800"
                >
                  Get Started Now
                </a>
              </div>
            </div>
          </div>
        </section>

        <!-- FAQ Section -->
        <section class="bg-gray-50 py-12 px-16">
          <div class="container mx-auto">
            <h2 class="text-3xl font-bold text-center mb-8">
              Frequently Asked Questions
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div class="p-4">
                <h3 class="text-large font-semibold mb-2">
                  Where can I find your disclaimer and privacy policy?
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer nec odio. Praesent libero. Sed cursus ante dapibus
                  diam.
                </p>
              </div>
              <div class="p-4">
                <h3 class="text-large font-semibold mb-2">
                  Are you on Twitter, Facebook and other social media platforms?
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer nec odio. Praesent libero. Sed cursus ante dapibus
                  diam.
                </p>
              </div>
              <div class="p-4">
                <h3 class="text-large font-semibold mb-2">
                  Do you offer volume discounts for orders above a certain
                  amount?
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer nec odio. Praesent libero. Sed cursus ante dapibus
                  diam.
                </p>
              </div>
              <div class="p-4">
                <h3 class="text-large font-semibold mb-2">
                  My subscription is expiring. How can I renew it?
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer nec odio. Praesent libero. Sed cursus ante dapibus
                  diam.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Call to Action Section -->
        <section class="text-center py-12">
          <div class="container mx-auto px-4">
            <div class="flex flex-col items-center">
              <img
                class="w-48 mb-6"
                src="../../../assets/images/image.png"
                alt="App Promo"
              />
              <h2 class="text-3xl font-bold mb-4">Get Started Today</h2>
              <p class="text-lg mb-6 max-w-2xl">
                Mobile Wallet is a virtual wallet, accessed and functional via a
                mobile application.
              </p>
              <div class="flex space-x-4">
                <a
                  href="#"
                  class="text-white transition duration-300 ease-in-out transform hover:scale-105"
                >
                  <img src="assets/images/Appstore (1).png" alt="App Store" />
                </a>
                <a
                  href="#"
                  class="text-white transition duration-300 ease-in-out transform hover:scale-105"
                >
                  <img src="assets/images/playstore.png" alt="Google Play" />
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

</div>



<!-- <app-footer></app-footer> -->