


<div class="flex h-full overflow-y-auto">
  <!-- Main Content -->
  <div class="w-full p-4 bg-gray-100">
    <div class="grid grid-cols-3 gap-6 mb-6">
     
    </div>

    <div class="bg-white p-6 rounded-md shadow-md mb-6">
  

<form [formGroup]="transactionHitoryForm">
  <div class="flex items-center justify-center gap-4 mt-5 p-4">
    <input 
      formControlName="fromDate"
      type="date" 
      class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" 
      id="start-date">
    
    <input 
      formControlName="toDate"
      type="date" 
      class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" 
      id="end-date">
    
    <select 
      formControlName="type"
      class="px-4 w-[200px] py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" 
      id="filter-select">
      <option value="">Select All</option>
      <option *ngFor="let item of array" [value]="item.value">{{item?.type}}</option>
    </select>
  
    <button 
      (click)="search()"
      class="px-6 py-2 text-white bg-blue-500 rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Search
    </button>

    <div class="mt-[10px]">
      <!-- Button that triggers the menu -->
      <button mat-icon-button [matMenuTriggerFor]="downloadMenu">
        <mat-icon>download</mat-icon>
      </button>
    
      <!-- The dropdown menu -->
      <mat-menu #downloadMenu="matMenu">
        <button mat-menu-item (click)="makePdf()">
          <mat-icon>picture_as_pdf</mat-icon>
          <span>Download as PDF</span>
        </button>
        <button mat-menu-item (click)="exportToExcel()">
          <mat-icon>table_view</mat-icon>
          <span>Download as Excel</span>
        </button>
        <button mat-menu-item (click)="exportToCSV()">
          <mat-icon>table_view</mat-icon>
          <span>Download as CSV</span>
        </button>
      </mat-menu>
    </div>
  </div>
</form>


<app-spinner></app-spinner>
<div *ngIf="tranactionHistory" class="relative overflow-y-auto max-h-[350px]">
  <div *ngFor="let item of tranactionHistory" > <!-- Set max-height -->
    <div
      (click)="openDialog(item)"
      class="min-h-full mt-[8px] max-h-screen bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-[32rem] transition duration-300 ease-in-out transform hover:scale-105"
    >
      <div
        class="flex justify-between mx-auto py-[0.5rem] px-[1.5rem]"
        style="font-family: serif"
      >
        <div class="flex gap-1">
          <div class="leading-6">
            <p>{{ item?.serviceName }}</p>
            <p>Date: {{ item?.date }}</p>
          </div>
        </div>
        <div class="flex gap-1 my-auto ml-auto amount-container">
          <div *ngIf="item?.debitAmount === '0.0' && item?.creditAmount !== '0.0'" class="text-green-600">
           Credited {{ item?.creditAmount }} AFN
          </div>
          <div *ngIf="item?.creditAmount === '0.0' && item?.debitAmount !== '0.0'" class="text-red-600">
            Debited {{ item?.debitAmount }} AFN
          </div>
          <div *ngIf="item?.creditAmount === '0.0' && item?.debitAmount === '0.0'" class="text-red-600">
           Nil
          </div>
          <div class="mt-[5px]">
            <img src="../../../assets/images/info 1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex gap-2 mt-[5px]"
    style="align-items: center; justify-content: center"
  >
    <div class="font-bold text-gray-400" style="font-size: 20px;" *ngIf="tranactionHistory.length === 0 || tranactionHistory == null">
      No Data
    </div>
  </div>
</div>


      <div id="chart" class="h-64"></div>
    </div>

   
    
  
  






